@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
  --background-main : #E1DBD9;
  --main-theme : #36C19B;
  --font-splash_screen : 'Bebas Neue', cursive;
  --white-color : #ffffff;
}
.App{
  width: 480px;
  background-color: var(--background-main);
  position: fixed;

}
.SplashScreen{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top : 420px;
  padding-bottom : 440px;
  background-color : var(--main-theme);
  font-family: var(--font-splash_screen);
  color: var(--white-color) ;
}
.SplashScreen span{
   font-size: 60px;
}